<h1> Eurofins Training</h1>
<!-- Interpolation -->
<!-- <h2> Title variable value {{ title + ' ' + title }} </h2>
<h3> {{ x*2 }} </h3> -->
<hr>


<!-- 15th March -->
<!-- <a routerLink="samplePage">Show Sample Page content</a>
<br>
<a routerLink="EmpPage">Show Employee Page content</a>
<br>
<a routerLink="EmpAddPage">New Employee</a>
<br> -->


<a routerLink="EmpPage">Show Employee Page content</a>
<br>
<a routerLink="login">Login</a>
<br>
<a routerLink="home">Home Page</a>
<br/>
<a routerLink="PlayerPage">Player</a>
<router-outlet></router-outlet> 

<!-- 16th March -->
